.portfolio-item {
  margin-bottom: 30px;
}

#PlayRow {
  margin-top: 30px;
}

.PlayBaseImg {
  display: inline-block;
  width: 200px;
}

.PlayBase {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  text-align: center;
  vertical-align: middle;
  background-color: black;
}

#LiveRow {
  margin-top: 30px;
}

.live-body {
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.live-themb {
  display: inline-block;
  width: 100px;
}

.live-preview {
  min-width: 320px;
  width: 320px;
  min-height: 180px;
  height: 180px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  background-color: bisque;
}
