.portfolio-item {
  margin-bottom: 30px;
}

#PlayRow {
  margin-top: 0px;
}

.first-live {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 360px;
}

.first-live-img {
  position: absolute;
  display: inline-block;
  width: 100%;
  z-index: 0;
}

.first-live-play {
  display: inline-block;
  width: 100px;
  z-index: 1;
}

#LiveRow {
  margin-top: 30px;
}

.live-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 180px;
}

.live-img {
  position: absolute;
  display: inline-block;
  width: 100%;
  z-index: 0;
}

.live-play {
  display: inline-block;
  width: 50px;
  z-index: 1;
}