doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/scripts/bootstrap.min.js" )
    script(src="/scripts/jquery.min.js" )
    script(src="/scripts/popper.min.js" )
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel='stylesheet', href="/styles/bootstrap.min.css")
  body
    div.jumbotron
      img(width="50px", src="/images/icon.png", style="margin-right:10px;float:left;")
      h1 #{title}
    
    block content