extends layout

block content
    form(class="form-inline", action="/login/process", method="post")
        div
            | 帳號：
            input(type="text", name="user[account]", value="", placeholder="請輸入帳號")
            br
            | 密碼：
            input(type="text", name="user[password]", value="", placeholder="請輸入密碼")
            input(type="submit", value="登入", class="btn btn-default")
        