table {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h5 {
  vertical-align: middle
}

div {
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

#map {
  max-height: 100%;
  min-height: 500px;
  height: 100%;
  width: 100%;
  border-color: #43ad43;
  border-style: solid;
  border-width: 1px 1px;
  border-radius: 15px;
  z-index: 0;
}

.recordHeader {
  text-align: left;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.headerIcon {
  width: 50px;
  border-radius: 50%;
}

.userPicture {
  width: 50px;
  border-radius: 50%;
  padding: 5px;
}

.float {
  margin-right:10px;
  float:left;
}  