table {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  max-height: 100%;
  min-height: 500px;
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.headerIcon {
  width: 50px;
  border-radius: 50%;
}

.userPicture {
  width: 50px;
  border-radius: 50%;
}

.float {
  margin-right:10px;
  float:left;
}
  