extends ../layout/body

block content

  div#RecordRow(class="row")
    div(class="col-lg-4 col-md-4 col-sm-6 portfolio-item")
      div(class="card h-100")
        div(class="card-body h-100 home-card")
          h6(class="card-title") 總公里數
          img(class="home-icon" src="/images/home/distance.png")
          div(class="home-item-value") 203.5 公里

