extends ./layout/body

block content
  script.
    $('document').ready(function() {  
      $(function() {
        loadImage();
      });
      
      $("#RecordCarousel").on("slid.bs.carousel", function (e) {
        loadImage();
      });
    });

    function loadImage() {
      var url = $(".carousel-item.active").find("img").attr("url"); 
      $(".carousel-item.active").find("img").attr("src", url);
    }

  div#RecordCarousel(class="carousel slide" data-ride="carousel")
    div(class="carousel-inner")

      div(class="carousel-item active")
        img(class="d-block w-100 home-carousel-item" src="" url="https://maps.googleapis.com/maps/api/streetview?key=AIzaSyBywZw3mj57BST--BC9k2LxamMD0-Xz4-g&size=1024x300&location=23.558215,120.471724&fov=20&heading=75&pitch=5" alt="First slide")
      div(class="carousel-item")
        img(class="d-block w-100 home-carousel-item" src="" url="https://maps.googleapis.com/maps/api/streetview?key=AIzaSyBywZw3mj57BST--BC9k2LxamMD0-Xz4-g&size=1024x300&location=23.558215,120.471724&fov=30&heading=90&pitch=5" alt="Second slide")
      div(class="carousel-item")
        img(class="d-block w-100 home-carousel-item" src="" url="https://maps.googleapis.com/maps/api/streetview?key=AIzaSyBywZw3mj57BST--BC9k2LxamMD0-Xz4-g&size=1024x300&location=23.558215,120.471724&fov=60&heading=70&pitch=5" alt="Second slide")
        
      a(class="carousel-control-prev" href="#RecordCarousel" role="button" data-slide="prev")
        span(class="carousel-control-prev-icon" aria-hidden="true")
        span(class="sr-only") Previous
      a(class="carousel-control-next" href="#RecordCarousel" role="button" data-slide="next")
        span(class="carousel-control-next-icon" aria-hidden="true")
        span(class="sr-only") Next
      
  div#RecordRow(class="row")
    div(class="col-lg-4 col-md-4 col-sm-6 portfolio-item")
      div(class="card h-100")
        div(class="card-body h-100 home-card")
          h6(class="card-title") 總公里數
          img(class="home-icon" src="/images/home/distance.png")
          div(class="home-item-value") 203.5 公里

    div(class="col-lg-4 col-md-4 col-sm-6 portfolio-item")
      div(class="card h-100")
        div(class="card-body h-100 home-card")
          h6(class="card-title") 總卡路里
          img(class="home-icon" src="/images/home/calories.png")
          div(class="home-item-value") 500,03 卡路里

    div(class="col-lg-4 col-md-4 col-sm-6 portfolio-item")
      div(class="card h-100")
        div(class="card-body h-100 home-card")
          h6(class="card-title") 總時間
          img(class="home-icon" src="/images/home/sportTime.png")
          div(class="home-item-value") 208 時 30 分

    div(class="col-lg-4 col-md-4 col-sm-6 portfolio-item")
      div(class="card h-100")
        div(class="card-body h-100 home-card")
          h6(class="card-title") 總步數
          img(class="home-icon" src="/images/home/step.png")
          div(class="home-item-value") 267,345 步

    div(class="col-lg-4 col-md-4 col-sm-6 portfolio-item")
      div(class="card h-100")
        div(class="card-body h-100 home-card")
          h6(class="card-title") 直播影片數
          img(class="home-icon" src="/images/home/live.png")
          div(class="home-item-value") 10 部

    div(class="col-lg-4 col-md-4 col-sm-6 portfolio-item")
      div(class="card h-100")
        div(class="card-body h-100 home-card")
          h6(class="card-title") 行程數
          img(class="home-icon" src="/images/home/calendar.png")
          div(class="home-item-value") 15 個行程
    

    