extends ./layout/body

block content
  h3(class="my-4") Page Heading
    small Secondary Text
  
  div#PlayRow(class="row")
    div(class="col-md-8 first-live")
      img(class="first-live-img" src=items[0].snippet.thumbnails.medium.url)
      img(class="first-live-play" src="/images/live/youtube.png")

    div(class="col-md-4")
      h4(class="my-3") Project Description
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>

  div#LiveRow(class="row")
    each item in items
      div(class="col-lg-4 col-md-6 portfolio-item")
        div(class="card")

          div(class="card-header")
            span #{item.snippet.title}
            button(type="button" class="close" aria-label="Close")
              span(aria-hidden="true") &times;
          
          div(class="card-body")
            div(class="live-preview")
              img(class="live-img" src=item.snippet.thumbnails.medium.url)
              img(class="live-play" src="/images/live/youtube.png")

  

