extends ./layout/body

block content
  h3(class="my-4")Page Heading
    <small>Secondary Text</small>
  
  <div class="row">

    <div class="col-md-8">
      
    </div>

    <div class="col-md-4">
      h4(class="my-3") Project Description
      Ｐ>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
    </div>

  </div>

