extends ../../layout/html

block bodyContent
  include ./link
  include ./script
  body
    include ../../layout/navbar
    div(class='container content')
      block content
    include ../../layout/footer
    