link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
link(rel='stylesheet', href='/styles/bootstrap.min.css')
link(rel='stylesheet', href='/styles/fullcalendar.min.css')
link(rel='stylesheet', href='/styles/fullcalendar.print.min.css', media='print')
link(rel='stylesheet', href='/styles/jquery-ui.min.css', media='print')
link(rel='stylesheet', href='/styles/jquery-ui.structure.css', media='print')
link(rel='stylesheet', href='/styles/jquery-ui.theme.min.css', media='print')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/calendar/style.css')