link(rel='stylesheet', href='/styles/bootstrap.min.css')
link(rel='stylesheet', href='/styles/fullcalendar.min.css')
link(rel='stylesheet', href='/styles/fullcalendar.print.min.css', media='print')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/home/style.css')