.portfolio-item {
  margin-bottom: 30px;
}

#RecordRow {
  margin-top: 30px;
}

#map {
  max-height: 100%;
  min-height: 300px;
  height: 100%;
  width: 100%;
}

.records-icon {
  width: 20px;
  height: 20px;
}

.records-value {
  margin-left: 10px;
}

.card-no-border {
  border-width: 0px;
}